#welcome {height:200px;}

.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  .navbar-nav {
    display: flex;
    margin-right: 2rem;
  }

  .bg-light-blue {
      background-color: rgb(220,120,120);
  }

  #work {height:200px;}
  #welcome {height:600px;}
  .icon {width:100px;height:100px;    margin: auto;    
    display: block;}
